/* James Ruddat css XD */

.colorplate {
color: rgb(21,82,100);
color: rgb(237,29,36);
color: rgb(189,190,192);
color: rgb(99, 35, 29);
}

html {
    background-color: rgb(21,82,100); /* background color */
}
body {
    font-family: Verdana, 'Arial Black', serif;
    font-size: 1em;
    color: whitesmoke;
}
header {
    padding: 1px;
    border: 14px;
}
nav {
    background-color: rgb(237,29,36);
}
footer {
    color: whitesmoke;
    padding: 2px;
    background-color: rgb(237,29,36);
    text-align: center;
    border-radius: 10px;
}
address {
    color: rgb(129,67,156);
    padding: 2px;
    text-align: center;
    font-size: 0.8em;
}
img {
    border: 1px;
    border-style: none;
    border-color: black;
}

/* Text */
ul {
    padding: 0px;
    margin: 0px;
}
a {
    color: whitesmoke;
    display: block;
    padding: 3px;
    text-decoration: none;
    text-align: center;
}
a:hover {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.heading h1 {
    padding: 2px;
    margin-right: 25px;
    font-size: 1.6em;
    font-style: italic;
    float: right;
}
h2 {
    font-size: 1.3em;
    font-style: italic;
}
h3 {
    font-size: 1em;
    font-style: italic;
}
p {
    padding: 3px;
}

/* Classes and IDs */
.wrapper {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
/* nav style */
.topnav {
    overflow: hidden;
    background-color: rgb(237,29,36);
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
/* nav links */
.topnav a {
    float: right;
    color: white;
    padding: 14px 35px;
    border-bottom: 1px solid rgb(237,29,36);
}
/* hovered on link */
.topnav a:hover {
    border-radius: 10px;
    background-color: rgb(190,29,26);
    border-bottom: 1px solid rgb(99, 35, 29);
}
/* Clicked on link */
.topnav a:active {
    background-color: rgb(129,67,156);
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: rgb(190,29,26);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
/* Responsive layout */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
}
@media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
}

/* Other */
.class {
    clear: both;
}

#fill {
    background-color: aliceblue;
}

* {
    box-sizing: border-box;
}
